body {
    background-color: #121212;
    color: #ffffff;
}

header, main, footer {
    border-color: #ffffff;
}

nav a {
    color: #ffffff;
}

#nav-menu {
    background-color: #1e1e1e;
    border-color: #444;
}

.flex input, .flex textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.flex button {
    background-color: #555;
}

.flex button:hover {
    background-color: #777;
}

input.was-validated:invalid,
textarea.was-validated:invalid {
    border: 1px solid #ff5555;
}

input.was-validated:valid,
textarea.was-validated:valid {
    border: 1px solid #55ff55;
}

.errorMsg {
    color: #ff5555;
}

.successMsg {
    color: #55ff55;
}
